$color-inherit: inherit;
$color-transparent: transparent;
$color-black: var(--color-black);
$color-white: var(--color-white);
$color-blue: var(--color-blue);
$color-gray: var(--color-gray);
$color-green: var(--color-green);
$color-red: var(--color-red);
$color-yellow: var(--color-yellow);
$color-cyan: var(--color-cyan);
$color-light: var(--color-light);
$color-dark: var(--color-dark);
$color-border: var(--color-border);
$color-border-active: var(--color-border-active);
