.xx-small,
.x-small,
.small,
.medium,
.large {
  margin-inline: auto;
  padding-inline: 15px;

  .xx-small,
  .x-small,
  .small,
  .medium,
  .large {
    padding-inline: unset;
  }
}

.xx-small {
  max-width: 540px;
}

.x-small {
  max-width: 720px;
}

.small {
  max-width: 960px;
}

.medium {
  max-width: 1140px;
}

.large {
  max-width: 1320px;
}
