:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #0d6efd;
  --color-blue-hover: #0b5ed7;
  --color-blue-active: #0a58ca;
  --color-gray: #6c757d;
  --color-gray-hover: #5c636a;
  --color-gray-active: #565e64;
  --color-green: #198754;
  --color-green-hover: #157347;
  --color-green-active: #146c43;
  --color-red: #dc3545;
  --color-red-hover: #bb2d3b;
  --color-red-active: #b02a37;
  --color-yellow: #ffc107;
  --color-yellow-hover: #ffca2c;
  --color-yellow-active: #ffcd39;
  --color-cyan: #0dcaf0;
  --color-cyan-hover: #31d2f2;
  --color-cyan-active: #3dd5f3;
  --color-light: #f8f9fa;
  --color-light-hover: #d3d4d5;
  --color-light-active: #c6c7c8;
  --color-dark: #212529;
  --color-dark-hover: #424649;
  --color-dark-active: #4d5154;
  --color-border: #dee2e6;
  --color-border-active: #86b7fe;
}
